* {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

:root {
    --navy: rgb(0, 0, 128);
    --blue: rgb(0, 191, 255);
    --blue-light: rgb(69, 208, 255);
}

body {
    font-family: "PT Sans", serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

header {
    border-top: 0.5em solid var(--navy);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

#header-logo {
    text-align: center;
    padding: 15px 0; /* Adds space on the top and bottom of the div */
}

/* These styles apply to a tags inside a nav inside the header */
header nav a {
    text-decoration:none;
    color: var(--navy);
    font-weight: 700;
}

#header-top-nav ul {
    display: flex; /* Places block items side-by-side */
    justify-content: center; /* Centers flex content horizontally */
    margin: 0.5em 0; /* Adds space above/below the top nav */
}

#header-top-nav a {
    margin-right: 2em; /* Adds space between hyperlinks */
}

#header-top-nav li:nth-child(3) a {
    margin-right: 0; /* Removes added space after the last one */
}

#header-top-nav a:hover {
    text-decoration: underline;
}

#header-top-nav span {
    color: var(--blue);
}

#header-contact-mobile-nav {
    background-color: var(--navy);
    display: flex; /* Places the contact button and mobile nav on same horizontal line */
    justify-content: space-between; /* Places the contact button on left and mobile navigation on right */
    align-items: center; /* Vertically centers the contact button with the mobile navigation */
}

/* Class selectors start with a period */
.btn {
    background-color: var(--blue);
    color: white;
    padding: 1em 1.5em; /* Adds space between border and text. This code adds more space on the left/right than top/bottom */
    display: inline-block; /* Hyperlinks are inline elements by default. This will make the parent element's height the same as the child element's height */
    text-decoration:none;
    font-weight: 700;
}

.btn:hover {
    background-color: var(--blue-light);
}

#mobile-nav {
    color: white;
    font-size: 2em; /* Makes the navigation icon bigger */
    margin: 0 0.25em; /* Adds space to the left/right of the mobile nav */
    cursor: pointer;
}


#header-bottom-nav li {
    border-bottom: 1px solid lightgrey;
}

#header-bottom-nav a {
    font-size: 1.2em; /* Increases font-size 20% */
    display: block; /* A tags are inline elements by default. Making this a block allows you to add top/bottom padding and margin, and makes it full width */
    padding: 20px;
}

#header-bottom-nav .active, #header-bottom-nav a:hover {
    color: var(--blue);
}


#jumbotron-text {
    background-image: url("https://www.lynchdallas.com/application/themes/lynchdallas/img/bkg-pattern.jpg");
    padding: 1.5em;
}

#jumbotron-text h1 {
    color: var(--blue);
    font-size: 2.5em;
    font-weight: normal; /* Don't make the text bold */
    line-height: 1.25em;
}

#jumbotron-text p {
    color: white;
    margin: 1em 0; /* Add space above and below paragraph */
    line-height: 1.25em;
}


#about-us {
    padding: 30px;
    margin-top: 50px;
}

/* Source: https://stackoverflow.com/a/6382036/6629315 */
#about-us hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#about-us h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25em;
    margin: 20px 0;
    color: var(--navy);
}

#about-us h2 {
    font-size: 2em;
    text-align: center;
    font-weight: normal;
    line-height: 1.25em;
}

#about-us img {
    width: 150px;
    height: 5px;
    /* If text-align: center doesn't work, set the display property to block, and use margin: 0 auto instead */
    margin: 15px auto;
    display: block;
}
#about-us p {
    font-size: 1.25em;
    text-align: center;
    margin: 15px 0;
    line-height: 1.5em;
}
#about-cards article {
    margin: 25px 0;
}
#about-cards .card-header {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 1em;
}
#about-cards .card-header i {
    color: var(--blue);
    font-size: 1.5em;
}
#about-cards .card-header h3 {
    font-size: 1.25em;
}
#about-cards blockquote {
    border-left: 2px solid #ccc;
    padding-left: 20px; /* separation between border and contents */
    margin-left: 15px; /* Space outside of the border */
    font-size: 1.1em;
    line-height: 1.25em;
    color: #555;
}



.parallax {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .parallax-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: -1;
    background-image: url('https://www.lynchdallas.com/application/files/7515/9231/1199/feature-full.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .parallax-text {
    z-index: 1;
    background-image: url("https://www.lynchdallas.com/application/themes/lynchdallas/img/bkg-pattern.jpg");
    padding: 1.5em;
    width: 80%;
    border-top: 5px solid var(--blue);
  }
  
  .parallax-text h3 {
    color: var(--blue);
    font-size: 2em;
    font-weight: 400;
    line-height: 1.25em;
  }
  
  .parallax-text h4 {
    color: 
  white;
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px 0;
  }
  
  .parallax-text p {
    color: 
  white;
    margin: 1em 0; /* Add space above and below paragraph */
    line-height: 1.25em;
  }
  
  
  #footer-contact {
    padding: 40px 20px;
  }

  #footer-contact .col {
    margin: 20px;
  }

  #footer-contact h3 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  #footer-contact h4 {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    margin: 10px 0;
  }

  #footer-contact p {
    line-height: 20px;
    margin: 20px 0;
  }

  #footer-contact a {
    color: #222;
    text-decoration: none;
  }

  #footer-contact table {
    margin: 20px 0;
  }

  #footer-contact table th {
    font-weight: bold;
  }

  #footer-contact table th, 
  #footer-contact table td {
    text-align: left;
    padding: 8px;
    padding-left: 0;
  }


  #footer-contact a:hover {
    text-decoration: underline;
  }

  #footer-contact .social-icons a {
    display: inline-block;
    width: 45px;
    height:45px;
    line-height:45px;
    border-radius: 50px;
    background-color: var(--blue);
    text-align: center;
    color: white;
    font-size: 24px;
    margin-right: 10px;
}

#footer-contact .social-icons a:hover {
    background-color: var(--navy);
    transform: scale(1.2);
} 



  #footer-copyright {
    background-color: #222;
    color: #999;
    padding: 24px;
    text-align: center;
    font-size: 13px;
  }
  
  #footer-copyright a {
    color: #999;
    text-decoration: none;
  }

  #footer-copyright a:hover {
    text-decoration: underline;
   }


   #footer-cta {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 25px;
    position:relative;
    z-index: 1;
  }
  
  #footer-cta img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: .6;
    mix-blend-mode: overlay;
  }
  
  #footer-cta h4 {
    color: var(--blue);
    text-transform: uppercase;
    margin: 20px 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
  }
  
  #footer-cta h2 {
    font-size: 32px;
    margin: 20px 0 40px
  }
  
  #footer-cta a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    display: block;
    margin: 20px 0 0;
  }
  
  #footer-cta a ~ span {
    display: none;
  }
  
  #footer-cta a:hover {
    text-decoration: underline;
  }
  
  #footer-cta a span {
    color: var(--blue);
  }
  
  #footer-cta .btn {
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
  }